html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("foyer.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

h1, h2 {
  text-align: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.clues-container {
  display: flex;
  width: 85%;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 40px;
}

.clue-image {
  height: 200px;
  margin-right: 20px;
}

.clues-text {
  flex: 1;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 16px;
  color: black;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 40px;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
}

form select {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

form button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #3e8e41;
}

.text-box {
  flex: 1;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 16px;
  color: black;
  overflow: auto;
  margin-right: 20px;
}

.typewriter1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: .15em;
  animation: typing1 10s steps(100, end) forwards;
}

.typewriter2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: .15em;
  opacity: 0;
  animation: typing2 10s steps(100, end) forwards;
  animation-delay: 10s;
}

@keyframes typing1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

