/* login.css */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"],
.register-button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.register-button {
    background-color: crimson;
}
